*{
    padding: 0;
    margin: 0;
}

nav li{
    display: inline-block;
    padding: 12px;
    font-size: 15px;
  
}

.menu{
   
    border-radius: 0 0 15px 15px ;
    box-shadow: 2px 20px 25px;
}

img{
    width: 6%;
    border-radius: 100%;
    border: 2px solid blue;
    display:inline-block;
}