.titulo{
    text-align: center;
    color: red;
}

.plato-uno{
    font-size: 2rem;
    border: 2px solid blue;
    color: yellowgreen;
    text-align: center;
    background-image: url(imagen/fondo\ uso\ html.jpg);
    background-size: cover;
}
#po img{
    width:32%;
    border-radius: 45%;
    
}
.fondo{


}

.des{
    color:yellowgreen;
   
    text-shadow: 12px 12px 5px;
    font-family: cursive;
}